
<div id="container">
  <div id='top' class='nav'>top</div>
  <div id='main' />
  <div id='bottom' class='nav'>bottom</div>
</div>

<style>
#container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nav{
  padding: 8px 36px;
} 
#main{
  flex-grow: 1;
  height: 100px;
  width: 100%;
}
</style>

<script>
import {InputKey} from '../game/InputKey.ts'
import P5 from 'p5';

const element = document.getElementById('main')!;

const getWidth = () =>{
  return element.clientWidth
}
const getHeight =  () =>{
  return element.clientHeight
}

const sketch = (p:P5)=>{

  p.windowResized = ()=>{
    p.resizeCanvas(0, 0)
    p.resizeCanvas(getWidth(), getHeight())
  }

  p.setup = ()=>{
    p.createCanvas(getWidth(), getHeight())
  }

  const q = new InputKey(p, 'q', 'Q')
  const w = new InputKey(p, 'w', 'W')
  const e = new InputKey(p, 'e', 'E')

  const a = new InputKey(p, 'a', 'A')
  const s = new InputKey(p, 's', 'S')
  const d = new InputKey(p, 'd', 'D')

  p.draw = ()=>{
    p.background(200);

    let offsetX = 0
    let offsetY = 0

    q.renderKey(getWidth() / 2, getHeight() / 2)
    offsetX+= 80
    w.renderKey(getWidth() / 2 + offsetX, getHeight() / 2)
    offsetX+= 80
    e.renderKey(getWidth() / 2 + offsetX, getHeight() / 2)

    offsetX = 0
    offsetY = 80
    a.renderKey(getWidth() / 2, getHeight() / 2 + offsetY)
    offsetX+= 80
    s.renderKey(getWidth() / 2 + offsetX, getHeight() / 2 + offsetY)
    offsetX+= 80
    d.renderKey(getWidth() / 2 + offsetX, getHeight() / 2 + offsetY)
  }
}

new P5(sketch, element);

</script>
